name: Download and compile SQLite

on:
  workflow_call:
    outputs:
      artifact_id:
        description: "ID of the artifact containing prebuilt SQLite libraries"
        value: ${{ jobs.merge_assets.outputs.artifact }}

jobs:
  download_sqlite:
    runs-on: ubuntu-latest
    name: Download SQLite sources
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        id: cache_build
        with:
          path: sqlite-src/
          # TODO: Migrate back to ${{ hashFiles('tool/sqlite_build_id') }} after https://github.com/orgs/community/discussions/180160 gets fixed.
          key: sqlite-src-v10

      - uses: dart-lang/setup-dart@v1
        if: steps.cache_build.outputs.cache-hit != 'true'

      - name: Download sqlite3
        if: steps.cache_build.outputs.cache-hit != 'true'
        run: |
          dart run tool/download_sqlite.dart

      - name: Upload sqlite3 sources
        uses: actions/upload-artifact@v4
        with:
          name: sqlite-src
          path: sqlite-src/
          if-no-files-found: error
          retention-days: 1

  build_sqlite:
    needs: [download_sqlite]
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    name: Compile sqlite3
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        id: cache_build
        with:
          path: sqlite-compiled
          # TODO: Migrate back to ${{ hashFiles('tool/sqlite_build_id') }} after https://github.com/orgs/community/discussions/180160 gets fixed.
          key: sqlite-prebuilt-${{ runner.os }}-v10

      - name: Download sqlite3 sources
        if: steps.cache_build.outputs.cache-hit != 'true'
        uses: actions/download-artifact@v4
        with:
          name: sqlite-src
          path: sqlite-src

      - uses: dart-lang/setup-dart@v1
        if: steps.cache_build.outputs.cache-hit != 'true'

      - name: Install cross-compiling GCC
        shell: bash
        if: runner.os == 'Linux' && steps.cache_build.outputs.cache-hit != 'true'
        run: |
          sudo apt update
          sudo apt install -y gcc-aarch64-linux-gnu gcc-riscv64-linux-gnu gcc-arm-linux-gnueabihf gcc-i686-linux-gnu

      - name: Compile sqlite3
        if: steps.cache_build.outputs.cache-hit != 'true'
        run: |
          dart pub get
          dart run tool/build_sqlite.dart

      - name: Upload sqlite3 binaries
        uses: actions/upload-artifact@v4
        with:
          name: sqlite3-libs-${{ runner.os }}
          path: sqlite-compiled
          if-no-files-found: error
          retention-days: 1

  compile_wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        id: cache_build
        with:
          path: sqlite3_wasm_build/out/
          # TODO: Migrate back to ${{ hashFiles('tool/sqlite_build_id') }} after https://github.com/orgs/community/discussions/180160 gets fixed.
          key: sqlite-prebuilt-wasm-v10

      # clang 18 that ships on ubuntu crashes when compiling the wasm sources
      - name: Install LLVM and Clang
        if: steps.cache_build.outputs.cache-hit != 'true'
        uses: KyleMayes/install-llvm-action@v2.0.8
        with:
          version: "21"

      - name: Download WASI SDK
        if: steps.cache_build.outputs.cache-hit != 'true'
        run: |
          ls -al ${{ env.LLVM_PATH }}

          curl -L https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-27/wasi-sdk-27.0-x86_64-linux.deb -o wasi-sdk.deb
          sudo dpkg -i wasi-sdk.deb
          sudo mkdir /usr/lib/llvm-18/lib/clang/18/lib/wasi
          sudo cp -r /opt/wasi-sdk/lib/clang/20/lib/* ${{ env.LLVM_PATH }}/lib/clang/21/lib/

          curl -L https://github.com/WebAssembly/binaryen/releases/download/version_124/binaryen-version_124-x86_64-linux.tar.gz -o binaryen.tar.gz
          tar --extract --gzip --file binaryen.tar.gz
          sudo mv binaryen-version_124/bin/* /usr/local/bin

      - uses: dart-lang/setup-dart@v1
        if: steps.cache_build.outputs.cache-hit != 'true'

      - name: Compile WASM binaries
        if: steps.cache_build.outputs.cache-hit != 'true'
        working-directory: sqlite3_wasm_build/
        run: |
          cmake -Dwasi_sysroot=/opt/wasi-sdk/share/wasi-sysroot/ -S src -B .dart_tool/sqlite_build
          cmake --build .dart_tool/sqlite_build/ -t output -j

      - name: Upload sqlite3 binaries
        uses: actions/upload-artifact@v4
        with:
          name: sqlite3-libs-wasm
          path: sqlite3_wasm_build/out/
          if-no-files-found: error
          retention-days: 1

  merge_assets:
    runs-on: ubuntu-latest
    needs: [build_sqlite, compile_wasm]
    name: Merge prebuilt libraries into single directory
    outputs:
      artifact: ${{ steps.upload.outputs.artifact-id }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v5
        with:
          path: out/
          merge-multiple: true
          pattern: sqlite3-libs-*

      - run: ls -al out/

      - name: Upload final binaries
        uses: actions/upload-artifact@v4
        id: upload
        with:
          name: sqlite3-precompiled
          path: out/
          if-no-files-found: error
          retention-days: 1
