name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  analyze:
    strategy:
      matrix:
        package: [sqlite3]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: dart-lang/setup-dart@v1
      with:
        sdk: dev

    - name: Pub get
      run: dart pub get
      working-directory: ${{ matrix.package }}

    - name: Format dart
      run: dart format --set-exit-if-changed .
      working-directory: ${{ matrix.package }}

    - name: Format native
      run: clang-format --Werror --dry-run --style=google assets/sqlite3.h assets/wasm/*
      if: ${{ matrix.package == 'sqlite3' }}
      working-directory: sqlite3

    - name: Analyze
      run: dart analyze
      working-directory: ${{ matrix.package }}

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
    - uses: dart-lang/setup-dart@v1
      with:
        sdk: dev

    - name: install sqlite (Linux)
      if: runner.os == 'Linux'
      run: sudo apt-get install -y libsqlite3-dev

    - name: install sqlite (Windows)
      if: runner.os == 'Windows'
      run: choco install sqlite

    - name: Test
      run: |
        dart pub get
        dart test
      working-directory: sqlite3/

    - name: Web tests
      run: |
        curl https://storage.googleapis.com/simon-public-euw3/assets/sqlite3.wasm -o example/web/sqlite3.wasm
        dart test -P web
      # If browsers behave differently on different platforms, surely that's not our fault...
      # So, only run browser tests on Linux to be faster.
      if: runner.os == 'Linux'
      working-directory: sqlite3/

# The integration tests for android are currently broken (the emulator doesn't want to
# start up...)
#
#  integration_test_android:
#    runs-on: macos-latest
#    strategy:
#      matrix:
#        test:
#          - flutter_libs
#          - sqlcipher_flutter
#    steps:
#      - uses: actions/checkout@v2
#      - uses: subosito/flutter-action@v1
#        with:
#          channel: dev
#
#      - name: pub get
#        working-directory: "integration_tests/${{ matrix.test }}"
#        run: flutter pub get
#
#      - name: run tests
#        uses: reactivecircus/android-emulator-runner@v2.20.0
#        with:
#          api-level: 29
#          arch: x86_64
#          ndk: "21.0.5948944"
#          script: flutter pub run test_driver/integration_test.dart
#          working-directory: "integration_tests/${{ matrix.test }}"

  integration_test_linux:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: dev
      - name: Setup Flutter
        run: |
          flutter config --enable-linux-desktop
          flutter --version
      - name: sqlite3 driver tests
        run: "flutter pub get && flutter pub run test_driver/integration_test.dart linux"
        working-directory: integration_tests/flutter_libs

  # Shamelessly stolen from https://medium.com/flutter-community/run-flutter-driver-tests-on-github-actions-13c639c7e4ab
  integration_test_ios:
    needs: [test]
    runs-on: macos-latest
    steps:
      - name: List simulators
        run: "xcrun xctrace list devices"

      - name: Start simulator
        run: |
          IPHONE12=$(xcrun xctrace list devices  2>&1 | grep -m 1 "iPhone 12 Pro" | awk -F'[()]' '{print $4}')
          xcrun simctl boot $IPHONE12

      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: dev

      - name: Flutter version
        run: flutter --version

      - name: sqlite3 driver tests
        run: "flutter pub get && flutter pub run test_driver/integration_test.dart"
        working-directory: integration_tests/flutter_libs

      - name: sqlcipher driver tests
        run: "flutter pub get && flutter pub run test_driver/integration_test.dart"
        working-directory: integration_tests/sqlcipher_flutter

  integration_test_macos:
    needs: [test]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: dev
      - name: Setup Flutter
        run: |
          flutter config --enable-macos-desktop
          flutter --version

      - name: sqlite3 driver tests
        run: "flutter pub get && flutter pub run test_driver/integration_test.dart"
        working-directory: integration_tests/flutter_libs

      - name: sqlcipher driver tests
        run: "flutter pub get && flutter pub run test_driver/integration_test.dart"
        working-directory: integration_tests/sqlcipher_flutter
